body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #1e103a;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: orange;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #1e103a;
    /* creates padding around scroll thumb */
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(53,59,72) inset !important;
    box-shadow: 0 0 0 30px rgb(53,59,72) inset !important;
}
body {
    background: #110031 !important;
}

body,
html,
.container,
.row,
h2,
.search_input {
    font-family: 'Indie Flower', cursive;
}

/* Navigation bar sections */

.navbar .navbar-brand img {
    height: 40px;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    caret-color: transparent;
    line-height: 40px;
    padding: 0 10px;
    width: 250px;
    caret-color: red;
    transition: width 0.4s linear;
}
.search_input::placeholder{
    color: #fff;
}

.searchbar:hover>.search_input,.searchbar>.search_input:focus {
    caret-color: red;
    transition: width 0.4s linear;
}
.searchbar>.search_input:focus{
    background: transparent;
}

.searchbar:hover>.search_icon {
    background: white;
    color: purple;
    text-decoration: none;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}


/* Cards */
.hidden{
    display: none !important;
}

.row.desc {
    background: #1e103a !important;
    border-radius: 30px;
}

.card {
    background: #1e103a !important;
    border-radius: 30px !important;
    color: white;
    transition: all .5s ease;
}

.card:hover {
    box-shadow: 0px 0px 2px 0px;
}

.card img {
    height: 60px;
    width: 60px;
}

.centered {
    float: none;
    margin: 0 auto;
}


/* footer section */
footer{
    background: rgba(11, 9, 107, 0.5)
}
footer .container .row .col-4 a .fa {
    font-size: 18px;
}
footer .container .row .col-4 a .fa-linkedin {
    color:  #0072b1;
}
footer .container .row .col-4 a .fa-twitter {
    color: #1da1f2;
}
footer .container .row .col-4 a .fa-github {
    color: white;
}